.about-text {
  text-align: center;
  color: white;
}

.viewer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #348233;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
}

.viewer-header {
  color: white;
}
